* {
  margin: 0;
  padding: 0;

  box-sizing: border-box;
  font-family: sans-serif;
}

body {
  background-color: #0e0e0e;
  height: 100vh;
  background-image: url(assets/img/bg.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;

  color: #fff;
  height: 150px;
}

.bg-img {
  height: 100%;
  width: 100%;
  background-image: url("https://wallpaperaccess.com/full/1957175.jpg");
  background-position: center;

  filter: blur(8px);
  -webkit-filter: blur(8px);
}

.bg-container {
  height: 100%;
  width: 100%;

  /* border-bottom: 2px solid #fff; */
}

.title-box {
  position: absolute;
  top: 50px;
}

.perfil-foto {
  height: 150px;
  width: 150px;
  border-radius: 150px;
  border: 3px solid #fff;
}

.title-box-text {
  margin: 5px 0;
}

.hashtag {
  color: rgb(158, 158, 158);
  text-decoration: none;
}

a {
  color: inherit;
  text-decoration: none;
}

main {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  margin: 170px auto 0 auto;
  width: 65%;
}

.project {
  background-color: rgb(49, 49, 49);
  color: #fff;

  border-radius: 10px;
  width: 400px;
  height: 320px;
  margin-bottom: 50px;
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.26);
}

.project-img {
  border-radius: 10px 10px 0 0;
  width: 400px;
}

.project h2 {
  font-size: 20px;
}

.project-description {
  width: 400px;
  height: 122px;
  padding: 10px;
}

.project-description p {
  margin: 5px 0;
  font-size: 15px;
}

.links {
  display: flex;
  justify-content: space-between;
}

.links a {
  text-align: center;

  background-color: rgb(75, 75, 75);
  border-radius: 4px;
  font-size: 15px;

  width: 185px;
  margin-top: 25px;
  padding: 5px;
}

.links a:hover {
  background-color: gray;
}

footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;

  margin-top: 50px;
  padding: 10px;

  color: #fff;
}

footer p {
  color: gray;
  margin: 10px;
}

footer a {
  margin: 0 10px;
}

button {
  background: none;
  color: #fff;

  border: none;
  cursor: pointer;
}
